.modal {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.close{
    cursor: pointer;
}

table {
    width: 100%;
}
  
th.mat-sort-header-sorted {
  color: black;
}

.clickable .mat-mdc-row:hover .mat-mdc-cell {
    background-color: #D3D3D3;
    cursor: pointer;
}

.devices-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.add-device-btn {
    padding-right: 30rem;
    margin-bottom: 1rem;
}

.datepicker-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  
    canvas {
        max-width: 120vh; 
        max-height: 40vh;
        margin-bottom: 5rem;
    }
}